@media(max-width: 600px){
    .rel-p1{
        font-size: 10px;

    }
    .container{
        flex-direction: column;
        justify-content: center;
    }
    .box{
    margin: 20px auto;
    /* width: 90%; */
    }
    #footer{
        margin: 0;
        padding: 0;
    } 
    #footer .sec-p1{
        font-size: x-large;
    }
    #footer p{
        margin: 0 50px;
        padding: 25px;
        font-size: small;
    }
    #head{
        font-size: 13px;
        padding: 15px 10px;
    }
    .fa-brands{
        font-size: small;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    background-color: rgb(45, 46, 43);
    color: white;
}
header span{
    color: orangered;
}
header a{
    text-decoration: none;
    color: white;
}
.links{
    display: flex;
    align-items: center;
}
.link{
    margin: 0 4px;
}
.link:hover{
    text-decoration: underline;
}
.fa-brands{
    font-size: 25px;
    margin: 0 5px;
}
.fa-brands{
    font-size: 25px;
    margin: 0 5px;
}
img{
    width: 100%;
    height: 500px;
}
.content{
    padding:0  100px;
}
.content h1{
    text-align: center;
    margin: 30px 0 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.content p{
    font-size: 20px;
    margin: 20px 0 40px;
}
footer{
    background: rgb(45, 46, 43);
    color: white;
    text-align: center;
    padding: 20px 100px;
}

footer p{
    font-size: small;
    margin: 20px 200px;
}
.sec-p1{
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: bold;
}
hr{
    width: 2px;
    /* padding: 0 50px; */
    margin: 0 auto;
}
.wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
}
.section{
    padding: 40px 150px;
}
.box p{
    font-size: 15px;
    padding: 20px 100px 0 0;
    line-height: 20px;

}
.box h2{
    font-size: xx-large;
}
.box img{
    height: 250px;
    width: 400px;
}
.box2{
    font-size: 15px;
    padding: 20px 0 0 100px;
}
.box2 h2{
    font-size: xx-large;
}
.box2 p{
    font-size: 15px;
    padding: 20px 0 0 0;
    line-height: 20px;
}