@media(max-width: 600px){
    .rel-p1{
        font-size: 10px;

    }
    .container{
        flex-direction: column;
        justify-content: center;
    }
    .box{
    margin: 20px auto;
    /* width: 90%; */
    }
    #footer{
        margin: 0;
        padding: 0;
    } 
    #footer .sec-p1{
        font-size: x-large;
    }
    #footer p{
        margin: 0 50px;
        padding: 25px;
        font-size: small;
    }
    #head{
        font-size: 13px;
        padding: 15px 10px;
    }
    .fa-brands{
        font-size: small;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    background-color: rgb(45, 46, 43);
    color: white;
}
header span{
    color: orangered;
}
header a{
    text-decoration: none;
    color: white;
}
.links{
    display: flex;
    align-items: center;
}
.link{
    margin: 0 4px;
}
.link:hover{
    text-decoration: underline;
}
.fa-brands{
    font-size: 25px;
    margin: 0 5px;
}
/* .nav{
    font-size: 15px;
    margin: 25px;
}
.nav :hover{
    text-decoration: underline;
} */
.relative{
    position: relative;
    /* background-color: black; */
    height: 500px;
}
.relative img{
    width: 100%;
    height: 500px;
    position: absolute;
}
.content{
    position: absolute;
    font-weight: bold;
    color: white;
    padding: 100px 900px 100px 50px;

}
.rel-p1{
    text-transform: uppercase;
    font-size: 40px;

    
}
.rel-p2{
    /* position: absolute; */
    font-size: small;
    font-weight: bold;
    color: white;
    margin: 30px 0 0 0;

}
.btn{
    font-weight: bold;
    font-size: small;
    margin: 50px 0 0 0;
    padding: 20px 50px;
    background: orangered;
    color: white;
    border: none;
    outline: none;
    text-transform: uppercase;

}
.btn:hover{
    background-color: rgb(85,103,119);
}
.section{
    font-size: 10 px;
    /* background-color: brown; */
    margin: 100px auto;
}
.sec-p1{
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: bold;
}
.container{
    display: flex;
    justify-content: space-between;
    margin: 5px 100px;
}
.box{
    margin: 0 10px;
    padding: 0 40px;
    text-align: center;

}
.fa{
    font-size: 50px;
    color: orangered;
    margin: 30px 0;
}
.box-title{
    /* padding: 0 100px; */
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
}
.box-p{
    font-size: small;
    padding: 20px 0;

}
footer{
    background: rgb(45, 46, 43);
    color: white;
    text-align: center;
    padding: 20px 100px;
}

footer p{
    font-size: small;
    margin: 20px 200px;
}
 